{% extends 'base.html' %}
{% block body %}
<div class="container flex-grow-1">
    <div class="d-flex flex-row mb-3">
        {% for category in categorys %}
        <div class="card m-5">
            {% if category.category_image %}
            <img src="{{ category.category_image.url }}" style="height: 6rem; " class="card-img-top" alt="...">
            {% endif %}
            <div class="card-body">
                <a href="{% url 'category' category.name %}">{{category.name}}</a>
            </div>
        </div>
        {% endfor %}
    </div>


</div>
{% endblock body %}